:root{
    background-color: black;
    font-family: 'Roboto',sans-serif;
}

.upper{
    display: grid;
    grid-template-columns: 360px 1fr;
}

.top{
    background-color: #1a1a1a;
    border-radius: 10px;
    display: flex;  
    flex-direction: column;  
    padding-left: 5%;
    
}

.top > div:first-child{
    margin-bottom: 10px;
    margin-top: 20px;
}

.top > div:first-child:hover{
    cursor: pointer;
}

.top > div:nth-child(2){
    margin-bottom: 10px;
}

.top > div:nth-child(3){
    margin-bottom: 10px;
}

.top > div:first-child > img{
    width: 80px;
}

.casetta{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto',sans-serif;
    font-size:12px;
    color: white;
}

.casetta:hover{
    cursor: pointer;
}

.cerca{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto',sans-serif;
    font-size:12px;
    color: white;
}

.casetta > img{
    width: 30px;
}

.cerca > img{
    width: 30px;
}

.cerca:hover{
    cursor: pointer;
}

.libreria{
    background-color: #1a1a1a;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
    padding-left: 5%;
    padding-bottom: 15px;
    padding-right: 10px;
}
.libreria > h2{
    margin-top: 10px;
    
}

.add{
    text-align: end;
    margin-top: 19.92px;
}

.add > img{
    width: 22px;
    padding-right: 20px;
}

.add > img:hover{
    cursor: pointer;
}

.tual{
    display: flex;
    flex-direction: row;
}

.tual > img{
    width: 30px;
}

.tual:hover{
    cursor: pointer;
}

.tual > h2{
    font-size: 17px;
    color: white;
}

.primogri{
    margin-top: 20px;
    background-color: #444444;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    width: 148%;
    margin-right: -10px;
}

.primogri > h2{
    font-size: 15px;
    padding-left: 10px;
    color: white;
    margin-bottom: 2px;
}

.primogri > h5{
    color: white;
    font-family: 'Roboto',sans-serif;
    padding-left: 10px;
    font-size: 13px;
    margin-top: 1px;
}

.create-playlist-btn {
    background-color:white;
    border-radius: 20px; 
    width: 150px;
    border: 2px solid white;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}


.create-playlist-btn:hover {
    transform: scale(1.05);
}

.pulsante{
    padding-bottom: 30px;
    padding-left: 30px;
}

.grigi{
    display: flex;
    flex-direction: column;
}

#bulsant{
    width: 200px;
}

.links{
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    margin-top: -2%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 150px;

}

.links > h4{
    color: white;
    font-size: 10px;
    font-family: 'Roboto',sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.links > h3{
    color: white;
    font-size: 13px;
    font-family: 'Roboto',sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}
 
h4  a{
    color: white;
    text-decoration: none;

}

h3 a{
    color: white;
    text-decoration: none;
}

h3 a:hover{
    text-decoration:underline;
}

.lingua{
    background-color: #1a1a1a;
    margin-top: -10px;
    padding-top: 40px;
    padding-left: 5%;
    padding-bottom: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.linguabutt{
    background-color:#333333;
    border-radius: 20px; 
    width: 130px;
    border: 0.5px solid white;
    font-family: 'Roboto',sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;padding-left: 10px;
}

.linguabutt > p{
    color:white;
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 15px;
    
}

.linguabutt:hover{
    transform: scale(1.03);
    border: 1.5px solid white;
}

.footer{    
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    color: white;
    margin-bottom: 10px;
}

.scrittefoot > h5{
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.bottonefoot{
    padding-top: 17px;
    padding-right: 45px;
    padding-bottom: 15px;
}

.iscriviti{
    background-color:white;
    border-radius: 20px; 
    width: 1700;
    border: 0.5px solid white;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
}

.iscriviti:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.right{
    padding-left: 10px;
}

.lineaalta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:#1a1a1a;
    border-radius: 10px;
}

.freccie{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.rotonero{
    border-radius: 100%;
    width: 27px;
}

.rotonero > img {
    width: 17px;
    padding-left: 7px;
    padding-top: 2px;
}

.rotonero > img:hover{
    cursor: not-allowed;
    background-color: black;
    border-radius: 10px;
}

.pulsantitop{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 500px;
    padding-bottom: 20px;
}

.Iscriviti  {
    background-color:#1a1a1a;
    border-radius: 20px; 
    width: 110px;
    height: 45px;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    color: grey;
    padding-left: 4px;
    padding-right: 4px; 
    border-width: 0;
}

.Iscriviti:hover{
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.Accedi{
    margin-left: 10px;
    background-color:white;
    border-radius: 20px; 
    width: 110px;
    height: 45px;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    color: black;
    padding-left: 4px;
    margin-right: 15px; 
    border-width: 0;
}

.Accedi:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.artisti-scritta{
    background-color: #1a1a1a;
    margin-top: -30px;
    padding-left: 30px;
    color: white;
    font-family: 'Roboto',sans-serif;
}

.artisti{
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -20px;
    padding-top: 10px;
}

.img-artisti{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1a1a1a;
    margin-top: -20px;
    padding-top: 20px;
    padding-left: 10px;
}

.geolier{
    width: 170px; 
    height: 170px; 
    overflow: hidden; /* Nasconde il contenuto che esce dal container */
    border-radius: 50%; 
}

.geolier > img{
    width: 100%;
    height: auto;
}

.scrittine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #333333;
    width: 170px; 
    height: 170px; 
}

.singolo{
    width: 190px;
    height: 260px;
    background-color: #1a1a1a;
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-items:center;
    border-radius: 10px;
}

.singolo:hover{
    background-color: #333333;
    cursor: pointer;
}

.contenuto-sotto{
    margin-left: -100px;
}

.contenuto-sotto > h4{
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
}

.contenuto-sotto > p{
    color: grey;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    margin-top: -10px;
}

.destra-sotto{
    display: grid;
    grid-template-columns: 6fr 3fr;
    background-color: #1a1a1a;  
    padding-top: 75px;
    padding-left: 40px;
}

.destra-sotto-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Azienda {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    font-family: 'Roboto',sans-serif;
}
  
.Azienda h4 {
    margin-bottom: 3px; 
    color: white;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
}

.Azienda p{
    margin-bottom: -3px;
    color: grey;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
}

.social-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 250px;
    padding-bottom: 125px;
}

.social-icons img{
    width: 30px;    
    border-radius: 50%;
    background-color: #333333;
    margin-right: 10px;
    padding: 5px; 
}

.social-icons img:hover{
    background-color: #444444;
}

.hr{
    background-color: #1a1a1a;
    margin-top: 40px;
    padding-right: 20px;
}

hr{
    margin-top: 100px;
    border-color: grey;
    border-width: 0.5px;
    margin: 0;
}

.footer:hover{
    cursor: pointer;
}

.copyright{
    background-color: #1a1a1a;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    color: grey;
    padding-bottom: 55px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
}

.Azienda a{
    color: grey;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline;
}



